<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GF.BrowserGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GF.BrowserGame.Properties.Settings>
            <setting name="GF_BrowserGame_net_celestos_ogameServiceV1_Service"
                serializeAs="String">
                <value>http://localhost:1618/Service.asmx</value>
            </setting>
        </GF.BrowserGame.Properties.Settings>
    </applicationSettings>
</configuration>